body {background-color: #bec3ce;

}


h1 {
	color: red;
	background-color: white;
	padding: 20px;
	text-align: center;

}

h3 {
	font-size: 30px;
	font-weight: bold;

}

#game-instructions {
	background-color: white;
	padding: 20px;
	color: green;
}

#random-number {
	background-color: white;
	padding: 20px;
	margin-top: 20px;
	margin-right: 75%;
	color: green;
	font-size: 30px;
	font-weight: bold;
}

#win-loss-counter {
	background-color: white;
	padding: 20px;
	margin-top: 20px;
	margin-right: 75%;
	color: green;
}

#wins {
	font-size: 30px;
	font-weight: bold;
}

#losses{
	font-size: 30px;
	font-weight: bold;
}

#crystals {
	margin-top: 20px;

}

img {
	border-style: solid;
    border-width: 5px;
    border-color: white;
}

#total-score {
	background-color: white;
	padding: 20px;
	margin-top: 20px;
	margin-right: 75%;
	color: green;
	font-size: 30px;
	font-weight: bold;
}

#diamondGem{
	padding: 10px;
}

#orangeGem{
	padding: 10px;
}

#blueGem{
	padding: 10px;
}

#yellowGem{
	padding: 10px;
}